In [110]:
import numpy as np
import pandas as pd
import zipfile
import os

In [144]:
# Download the dataset using wget (if not done already)
# !wget https://archive.ics.uci.edu/static/public/222/bank+marketing.zip

# Extract the zip file
# with zipfile.ZipFile('bank marketing.zip', 'r') as zip_ref:
#     zip_ref.extractall('bank_marketing')

# Load the dataset
df = pd.read_csv('bank/bank.csv', sep=';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [145]:
columns = [
    "age", "job", "marital", "education", "balance", 
    "housing", "contact", "day", "month", "duration", 
    "campaign", "pdays", "previous", "poutcome", "y"
]
df = df[columns]

In [146]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
balance      0
housing      0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [147]:
education_mode = df['education'].mode()[0]
print(education_mode)

secondary

In [148]:
# Question 2: Correlation Matrix for Numerical Features?

numerical_cols = ["age", "balance", "day", "duration", "campaign", "pdays", "previous"]
corr_matrix = df[numerical_cols].corr()

# Find the two features with the highest absolute correlation
corr_matrix_unstacked = corr_matrix.abs().unstack()
corr_matrix_unstacked = corr_matrix_unstacked[corr_matrix_unstacked < 1]  # Exclude self-correlation
highest_corr = corr_matrix_unstacked.idxmax()
print(highest_corr)

('pdays', 'previous')

In [149]:
# Encode the Target Variable y

df['y'] = df['y'].map({'yes': 1, 'no': 0})

/tmp/ipykernel_235722/4028103325.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['y'] = df['y'].map({'yes': 1, 'no': 0})

In [150]:
from sklearn.model_selection import train_test_split

# Split data: 60% train, 20% validation, 20% test
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)  # 0.25 * 0.8 = 0.2

# Separate the target variable
y_train = df_train.pop('y')
y_val = df_val.pop('y')
y_test = df_test.pop('y')

In [162]:
# Question 3: Mutual Information Score?

from sklearn.metrics import mutual_info_score

categorical_vars = ["job", "marital", "education", "contact", "housing", "poutcome"]
mutual_info_scores = {var: mutual_info_score(y_train, df_train[var]) for var in categorical_vars}

# Find the variable with the highest mutual information score
max_mutual_info_var = max(mutual_info_scores, key=mutual_info_scores.get)
print(max_mutual_info_var)

poutcome

In [138]:
# Question 3: Mutual Information Score

from sklearn.metrics import mutual_info_score

categorical_vars = ["job", "marital", "education", "contact", "housing", "poutcome"]
mutual_info_scores = {var: mutual_info_score(y_train, df_train[var]) for var in categorical_vars}

# Find the variable with the highest mutual information score
max_mutual_info_var = max(mutual_info_scores, key=mutual_info_scores.get)
print(max_mutual_info_var)

KeyError: 'job'